/* CART COMPONENT ---------------------------- */
/* @keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
} */

/* .cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
} */

@keyframes move {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  border: 1px solid #000000;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}

/* .cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
/* transition: all 1s ease-in-out;
} */

.mini-cart-container {
  align-items: center;
}

.mini-cart-container>div.product-container {
  margin: 0;
  padding: 0;
  max-width: 320px;
}

.mini-cart-container>div.product-container>div {
  flex-direction: row;
}

div.mini-cart-container>div.product-container>div {
  padding: 5px;
}

/* Mini cart and Cart page */
span.item-desc {
  display: flex;
  flex-direction: column;
}

/* Mini cart */
.multiply {
  padding: 0 3px;
}

.icon-container {
  margin-top: 20px;
  border-top: 1px solid #caa34d;
  padding: 5px 20px 0 20px;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart {
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.empty-cart svg {
  width: 36px;
  height: auto;
  margin: 0 auto;
}

.product-container {
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product {
  display: flex;
  align-items: center;
  grid-gap: 30px;
  gap: 10px;
  padding: 20px 20px 0 0;
}

.product .cart-product-image {
  height: 75px;
  background-color: #ebebeb;
}

.product .mini-cart-image {
  width: 50px;
  height: auto;
}

.item-desc {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}

.item-desc div {
  display: flex;
  flex-direction: column;
}

.item-desc .bottom {
  margin-top: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;
}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btn-container {
  width: 400px;
  margin: auto;
}

.mini-cart-container {
  align-items: center;
}

.mini-cart-container>div.product-container {
  margin: 0;
  padding: 0;
  max-width: 320px;
}

.mini-cart-container>div.product-container>div {
  flex-direction: row;
}

div.mini-cart-container>div.product-container>div {
  padding: 5px;
}

/* Mini cart and Cart page */
span.item-desc {
  display: flex;
  flex-direction: column;
}

/* Mini cart */
.multiply {
  padding: 0 3px;
}

.icon-container {
  margin-top: 20px;
  border-top: 1px solid #caa34d;
  padding: 5px 20px 0 20px;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart {
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.empty-cart svg {
  width: 36px;
  height: auto;
  margin: 0 auto;
}

.product-container {
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product {
  display: flex;
  align-items: center;
  grid-gap: 30px;
  gap: 10px;
  padding: 20px 20px 0 0;
}

.product .cart-product-image {
  height: 75px;
  background-color: #ebebeb;
}

.product .mini-cart-image {
  width: 50px;
  height: auto;
}

.item-desc {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}

.item-desc div {
  display: flex;
  flex-direction: column;
}

.item-desc .bottom {
  margin-top: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;
}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btn-container {
  width: 400px;
  margin: auto;
}