/* MAY LIKE COMPONENT -------------------------- */
.maylike-products-wrapper {
  margin: 60px auto 0 auto;
  width: 70%;
}

.maylike-products-wrapper h2 {
  margin: 30px 0 20px 20px;
  color: #324d67;

  font-size: 28px;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}